html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.e595-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.e595-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.e595-image{max-width:100%;height:auto}img{margin-bottom:-5px}a{color:inherit}
.e595-table,.e595-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.e595-table-all{border:1px solid #ccc}
.e595-bordered tr,.e595-table-all tr{border-bottom:1px solid #ddd}.e595-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.e595-table-all tr:nth-child(odd){background-color:#fff}.e595-table-all tr:nth-child(even){background-color:#f1f1f1}
.e595-hoverable tbody tr:hover,.e595-ul.e595-hoverable li:hover{background-color:#ccc}.e595-centered tr th,.e595-centered tr td{text-align:center}
.e595-table td,.e595-table th,.e595-table-all td,.e595-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.e595-table th:first-child,.e595-table td:first-child,.e595-table-all th:first-child,.e595-table-all td:first-child{padding-left:16px}
.e595-btn,.e595-button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.e595-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.e595-btn,.e595-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.e595-disabled,.e595-btn:disabled,.e595-button:disabled{cursor:not-allowed;opacity:0.3}.e595-disabled *,:disabled *{pointer-events:none}
.e595-btn.e595-disabled:hover,.e595-btn:disabled:hover{box-shadow:none}
.e595-badge,.e595-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.e595-badge{border-radius:50%}
.e595-ul{list-style-type:none;padding:0;margin:0}.e595-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.e595-ul li:last-child{border-bottom:none}
.e595-tooltip,.e595-display-container{position:relative}.e595-tooltip .e595-text{display:none}.e595-tooltip:hover .e595-text{display:inline-block}
.e595-ripple:active{opacity:0.5}.e595-ripple{transition:opacity 0s}
.e595-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.e595-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.e595-dropdown-click,.e595-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.e595-dropdown-hover:hover .e595-dropdown-content{display:block;z-index:1}
.e595-dropdown-hover:first-child,.e595-dropdown-click:hover{background-color:#ccc;color:#000}
.e595-dropdown-hover:hover > .e595-button:first-child,.e595-dropdown-click:hover > .e595-button:first-child{background-color:#ccc;color:#000}
.e595-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0}
.e595-check,.e595-radio{width:24px;height:24px;position:relative;top:6px}
.e595-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.e595-bar-block .e595-dropdown-hover,.e595-bar-block .e595-dropdown-click{width:100%}
.e595-bar-block .e595-dropdown-hover .e595-dropdown-content,.e595-bar-block .e595-dropdown-click .e595-dropdown-content{min-width:100%}
.e595-bar-block .e595-dropdown-hover .e595-button,.e595-bar-block .e595-dropdown-click .e595-button{width:100%;text-align:left;padding:8px 16px}
.e595-main,#main{transition:margin-left .4s}
.e595-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.e595-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.e595-bar{width:100%;overflow:hidden}.e595-center .e595-bar{display:inline-block;width:auto}
.e595-bar .e595-bar-item{padding:8px 16px;float:left;width:auto;border:none;outline:none;display:block}
.e595-bar .e595-dropdown-hover,.e595-bar .e595-dropdown-click{position:static;float:left}
.e595-bar .e595-button{white-space:normal}
.e595-bar-block .e595-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;outline:none;white-space:normal;float:none}
.e595-bar-block.e595-center .e595-bar-item{text-align:center}.e595-block{display:block;width:100%}
.e595-responsive{overflow-x:auto}
.e595-container:after,.e595-container:before,.e595-panel:after,.e595-panel:before,.e595-row:after,.e595-row:before,.e595-row-padding:after,.e595-row-padding:before,
.e595-cell-row:before,.e595-cell-row:after,.e595-clear:after,.e595-clear:before,.e595-bar:before,.e595-bar:after{content:"";display:table;clear:both}
.e595-col,.e595-half,.e595-third,.e595-twothird,.e595-threequarter,.e595-quarter{float:left;width:100%}
.e595-col.s1{width:8.33333%}.e595-col.s2{width:16.66666%}.e595-col.s3{width:24.99999%}.e595-col.s4{width:33.33333%}
.e595-col.s5{width:41.66666%}.e595-col.s6{width:49.99999%}.e595-col.s7{width:58.33333%}.e595-col.s8{width:66.66666%}
.e595-col.s9{width:74.99999%}.e595-col.s10{width:83.33333%}.e595-col.s11{width:91.66666%}.e595-col.s12{width:99.99999%}
@media (min-width:601px){.e595-col.m1{width:8.33333%}.e595-col.m2{width:16.66666%}.e595-col.m3,.e595-quarter{width:24.99999%}.e595-col.m4,.e595-third{width:33.33333%}
.e595-col.m5{width:41.66666%}.e595-col.m6,.e595-half{width:49.99999%}.e595-col.m7{width:58.33333%}.e595-col.m8,.e595-twothird{width:66.66666%}
.e595-col.m9,.e595-threequarter{width:74.99999%}.e595-col.m10{width:83.33333%}.e595-col.m11{width:91.66666%}.e595-col.m12{width:99.99999%}}
@media (min-width:993px){.e595-col.l1{width:8.33333%}.e595-col.l2{width:16.66666%}.e595-col.l3{width:24.99999%}.e595-col.l4{width:33.33333%}
.e595-col.l5{width:41.66666%}.e595-col.l6{width:49.99999%}.e595-col.l7{width:58.33333%}.e595-col.l8{width:66.66666%}
.e595-col.l9{width:74.99999%}.e595-col.l10{width:83.33333%}.e595-col.l11{width:91.66666%}.e595-col.l12{width:99.99999%}}
.e595-content{max-width:980px;margin:auto}.e595-rest{overflow:hidden}
.e595-cell-row{display:table;width:100%}.e595-cell{display:table-cell}
.e595-cell-top{vertical-align:top}.e595-cell-middle{vertical-align:middle}.e595-cell-bottom{vertical-align:bottom}
.e595-hide{display:none!important}.e595-show-block,.e595-show{display:block!important}.e595-show-inline-block{display:inline-block!important}
@media (max-width:600px){.e595-modal-content{margin:0 10px;width:auto!important}.e595-modal{padding-top:30px}
.e595-dropdown-hover.e595-mobile .e595-dropdown-content,.e595-dropdown-click.e595-mobile .e595-dropdown-content{position:relative}	
.e595-hide-small{display:none!important}.e595-mobile{display:block;width:100%!important}.e595-bar-item.e595-mobile,.e595-dropdown-hover.e595-mobile,.e595-dropdown-click.e595-mobile{text-align:center}
.e595-dropdown-hover.e595-mobile,.e595-dropdown-hover.e595-mobile .e595-btn,.e595-dropdown-hover.e595-mobile .e595-button,.e595-dropdown-click.e595-mobile,.e595-dropdown-click.e595-mobile .e595-btn,.e595-dropdown-click.e595-mobile .e595-button{width:100%}}
@media (max-width:768px){.e595-modal-content{width:500px}.e595-modal{padding-top:50px}}
@media (min-width:993px){.e595-modal-content{width:900px}.e595-hide-large{display:none!important}.e595-sidebar.e595-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.e595-hide-medium{display:none!important}}
@media (max-width:992px){.e595-sidebar.e595-collapse{display:none}.e595-main{margin-left:0!important;margin-right:0!important}}
.e595-top,.e595-bottom{position:fixed;width:100%;z-index:1}.e595-top{top:0}.e595-bottom{bottom:0}
.e595-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.e595-display-topleft{position:absolute;left:0;top:0}.e595-display-topright{position:absolute;right:0;top:0}
.e595-display-bottomleft{position:absolute;left:0;bottom:0}.e595-display-bottomright{position:absolute;right:0;bottom:0}
.e595-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.e595-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.e595-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.e595-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.e595-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.e595-display-container:hover .e595-display-hover{display:block}.e595-display-container:hover span.e595-display-hover{display:inline-block}.e595-display-hover{display:none}
.e595-display-position{position:absolute}
.e595-circle{border-radius:50%}
.e595-round-small{border-radius:2px}.e595-round,.e595-round-medium{border-radius:4px}.e595-round-large{border-radius:8px}.e595-round-xlarge{border-radius:16px}.e595-round-xxlarge{border-radius:32px}
.e595-row-padding,.e595-row-padding>.e595-half,.e595-row-padding>.e595-third,.e595-row-padding>.e595-twothird,.e595-row-padding>.e595-threequarter,.e595-row-padding>.e595-quarter,.e595-row-padding>.e595-col{padding:0 8px}
.e595-container,.e595-panel{padding:0.01em 16px}.e595-panel{margin-top:16px;margin-bottom:16px}
.e595-code,.e595-codespan{font-family:Consolas,"courier new";font-size:16px}
.e595-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.e595-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.e595-card,.e595-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.e595-card-4,.e595-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.e595-spin{animation:e595-spin 2s infinite linear}@keyframes e595-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.e595-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.e595-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.e595-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.e595-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.e595-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.e595-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.e595-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.e595-animate-input{transition:width 0.4s ease-in-out}.e595-animate-input:focus{width:100%!important}
.e595-opacity,.e595-hover-opacity:hover{opacity:0.60}.e595-opacity-off,.e595-hover-opacity-off:hover{opacity:1}
.e595-opacity-max{opacity:0.25}.e595-opacity-min{opacity:0.75}
.e595-greyscale-max,.e595-grayscale-max,.e595-hover-greyscale:hover,.e595-hover-grayscale:hover{filter:grayscale(100%)}
.e595-greyscale,.e595-grayscale{filter:grayscale(75%)}.e595-greyscale-min,.e595-grayscale-min{filter:grayscale(50%)}
.e595-sepia{filter:sepia(75%)}.e595-sepia-max,.e595-hover-sepia:hover{filter:sepia(100%)}.e595-sepia-min{filter:sepia(50%)}
.e595-tiny{font-size:10px!important}.e595-small{font-size:12px!important}.e595-medium{font-size:15px!important}.e595-large{font-size:18px!important}
.e595-xlarge{font-size:24px!important}.e595-xxlarge{font-size:36px!important}.e595-xxxlarge{font-size:48px!important}.e595-jumbo{font-size:64px!important}
.e595-left-align{text-align:left!important}.e595-right-align{text-align:right!important}.e595-justify{text-align:justify!important}.e595-center{text-align:center!important}
.e595-border-0{border:0!important}.e595-border{border:1px solid #ccc!important}
.e595-border-top{border-top:1px solid #ccc!important}.e595-border-bottom{border-bottom:1px solid #ccc!important}
.e595-border-left{border-left:1px solid #ccc!important}.e595-border-right{border-right:1px solid #ccc!important}
.e595-topbar{border-top:6px solid #ccc!important}.e595-bottombar{border-bottom:6px solid #ccc!important}
.e595-leftbar{border-left:6px solid #ccc!important}.e595-rightbar{border-right:6px solid #ccc!important}
.e595-section,.e595-code{margin-top:16px!important;margin-bottom:16px!important}
.e595-margin{margin:16px!important}.e595-margin-top{margin-top:16px!important}.e595-margin-bottom{margin-bottom:16px!important}
.e595-margin-left{margin-left:16px!important}.e595-margin-right{margin-right:16px!important}
.e595-padding-small{padding:4px 8px!important}.e595-padding{padding:8px 16px!important}.e595-padding-large{padding:12px 24px!important}
.e595-padding-16{padding-top:16px!important;padding-bottom:16px!important}.e595-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.e595-padding-32{padding-top:32px!important;padding-bottom:32px!important}.e595-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.e595-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.e595-left{float:left!important}.e595-right{float:right!important}
.e595-button:hover{color:#000!important;background-color:#ccc!important}
.e595-transparent,.e595-hover-none:hover{background-color:transparent!important}
.e595-hover-none:hover{box-shadow:none!important}
/* Colors */
.e595-amber,.e595-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.e595-aqua,.e595-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.e595-blue,.e595-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.e595-light-blue,.e595-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.e595-brown,.e595-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.e595-cyan,.e595-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.e595-blue-grey,.e595-hover-blue-grey:hover,.e595-blue-gray,.e595-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.e595-green,.e595-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.e595-light-green,.e595-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.e595-indigo,.e595-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.e595-khaki,.e595-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.e595-lime,.e595-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.e595-orange,.e595-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.e595-deep-orange,.e595-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.e595-pink,.e595-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.e595-purple,.e595-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.e595-deep-purple,.e595-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.e595-red,.e595-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.e595-sand,.e595-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.e595-teal,.e595-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.e595-yellow,.e595-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.e595-white,.e595-hover-white:hover{color:#000!important;background-color:#fff!important}
.e595-black,.e595-hover-black:hover{color:#fff!important;background-color:#000!important}
.e595-grey,.e595-hover-grey:hover,.e595-gray,.e595-hover-gray:hover{color:#000!important;background-color:#bbb!important}
.e595-light-grey,.e595-hover-light-grey:hover,.e595-light-gray,.e595-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.e595-dark-grey,.e595-hover-dark-grey:hover,.e595-dark-gray,.e595-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.e595-pale-red,.e595-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.e595-pale-green,.e595-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.e595-pale-yellow,.e595-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.e595-pale-blue,.e595-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.e595-text-red,.e595-hover-text-red:hover{color:#f44336!important}
.e595-text-green,.e595-hover-text-green:hover{color:#4CAF50!important}
.e595-text-blue,.e595-hover-text-blue:hover{color:#2196F3!important}
.e595-text-yellow,.e595-hover-text-yellow:hover{color:#ffeb3b!important}
.e595-text-white,.e595-hover-text-white:hover{color:#fff!important}
.e595-text-black,.e595-hover-text-black:hover{color:#000!important}
.e595-text-grey,.e595-hover-text-grey:hover,.e595-text-gray,.e595-hover-text-gray:hover{color:#757575!important}
.e595-text-amber{color:#ffc107!important}
.e595-text-aqua{color:#00ffff!important}
.e595-text-light-blue{color:#87CEEB!important}
.e595-text-brown{color:#795548!important}
.e595-text-cyan{color:#00bcd4!important}
.e595-text-blue-grey,.e595-text-blue-gray{color:#607d8b!important}
.e595-text-light-green{color:#8bc34a!important}
.e595-text-indigo{color:#3f51b5!important}
.e595-text-khaki{color:#b4aa50!important}
.e595-text-lime{color:#cddc39!important}
.e595-text-orange{color:#ff9800!important}
.e595-text-deep-orange{color:#ff5722!important}
.e595-text-pink{color:#e91e63!important}
.e595-text-purple{color:#9c27b0!important}
.e595-text-deep-purple{color:#673ab7!important}
.e595-text-sand{color:#fdf5e6!important}
.e595-text-teal{color:#009688!important}
.e595-text-light-grey,.e595-hover-text-light-grey:hover,.e595-text-light-gray,.e595-hover-text-light-gray:hover{color:#f1f1f1!important}
.e595-text-dark-grey,.e595-hover-text-dark-grey:hover,.e595-text-dark-gray,.e595-hover-text-dark-gray:hover{color:#3a3a3a!important}
.e595-border-red,.e595-hover-border-red:hover{border-color:#f44336!important}
.e595-border-green,.e595-hover-border-green:hover{border-color:#4CAF50!important}
.e595-border-blue,.e595-hover-border-blue:hover{border-color:#2196F3!important}
.e595-border-yellow,.e595-hover-border-yellow:hover{border-color:#ffeb3b!important}
.e595-border-white,.e595-hover-border-white:hover{border-color:#fff!important}
.e595-border-black,.e595-hover-border-black:hover{border-color:#000!important}
.e595-border-grey,.e595-hover-border-grey:hover,.e595-border-gray,.e595-hover-border-gray:hover{border-color:#bbb!important}